body{
        background-color: #E0FFFF;
        text-align: center;
        padding-top: 5%;
}

form{
    background-color: whitesmoke;
    border: 1px solid black;
    width: 30%;
    margin: 20px auto;
    line-height: 40px;
    font-size: 20px;
}

#submit_btn {
    background-color: #E0E0E0;
    margin: 20px;
    font-family: Sans-Serif;
    font-size: 15px;
}

h1{
    margin: 0px auto;
    font-family: Verdana;
}

label{
display: inline-block;
width: 100px;
}

p{
    line-height: 20px;
    font-family: Sans-Serif;
    font-size: 12px;
    margin: 10px auto;
    padding: 10px 5px 10px 5px;
    color: red;
}

a{
    font-family: Sans-Serif;
    font-size: 12px;
    margin: 10px auto;
    color: black;
}

a:hover{
    color: blue;
    text-decoration: none;
}
